<launch>
  <!-- Lifelong Learning Node -->
  <node pkg="slam_toolbox" type="lifelong_slam_toolbox_node" name="slam_toolbox" output="screen">
    <rosparam command="load" file="$(find slam_toolbox)/config/mapper_params_lifelong.yaml" />
  </node>

  <!-- Rviz Launch -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find slam_toolbox)/config/slam_toolbox_default.rviz" respawn="false" output="screen"/>

</launch>
